<div class="formContainer">
    <h1 class="display-1">Request a ride now</h1>
      <h2 class="display-1" *ngIf="stateManagement.rideRequest.locations.length == 0">Pick locations for your ride</h2>
      <div
          cdkDropList
          [cdkDropListData]="stateManagement.rideRequest.locations"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div *ngFor="let item of stateManagement.rideRequest.locations; index as i;" cdkDrag>
            <mat-form-field class="example-full-width" [style.width.rem]=20>
              <mat-label>Enter location</mat-label>
              <input [disabled]="i < stateManagement.rideRequest.locations.length - 1" matInput [(ngModel)]='this.stateManagement.inputValues[i]' placeholder="Enter location" [matAutocomplete]="auto"
                    (input)="searchOptions(i)" (click)="getTotalDistance()">
            </mat-form-field>

            <button class="delete-location-button" *ngIf="stateManagement.rideRequest.locations.length > 1" mat-mini-fab color="warn" (click)="deleteLocation(i)">
              <mat-icon>delete_forever</mat-icon>
            </button>

            <button class="add-location-button" *ngIf="i == stateManagement.rideRequest.locations.length - 1 && i != 4" mat-mini-fab color="primary" (click)="addLocation(i)">
              <mat-icon>add_circle</mat-icon>
            </button>

            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of options[i] | async" [value]="option.displayName" (click)="pinLocation(option, i)">
                {{option.displayName}}
              </mat-option>
            </mat-autocomplete>
          </div>
      <div>
        <button mat-raised-button class="next-button" [disabled]="!totalDistance || totalDistance === 0" style="margin-right:2rem;" (click)="next()">Next</button>
      </div>
</div>