.container{
    height: 110vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
}

.form-container{
    /* background-color: rgb(121, 166, 214); */
    width: 70%;
    display:inline-block;
    padding: 3rem;
    overflow-y: visible;
    background-color: rgb(185, 217, 251);
    position: relative; 
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease; 
    margin-top: 3rem;
}

/* .form-container:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
  } */

.header{
    background-color: rgb(185, 217, 251);
    width: 100%;
    height: 10%;
    color: black;
}

.pronalazak{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 2rem;
    font-weight: 600;
}

h2{
    margin-top: 4rem;
    text-align: left;
}

h3{
    text-align: left;
}

.podnosilac{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
}

.address-contact{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.flex-grow-ac{
    flex-grow: 1;
}

.podnosilac-first-line{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.podnosilac-name{
    display: flex;
    width: 100%;
    justify-content: center;
}

.adresa-dostave{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.ranije-prijave{
    margin-top:10rem;
    margin-left: 22rem;
    background-color: aliceblue;
    justify-content: center;
    padding: 2rem;
}

.submit-button-div{
    margin-top: 5rem;    
}

.mdc-button{
    background-color: #ffd740 !important;
}

.ride-invite-field{
    margin-right: 2rem;
}

.ride-invite-button{
    margin-right: 2rem;
}