<div class="confirm-container">
    <h1 mat-dialog-title>New Drive Invite</h1>
    <div mat-dialog-content> 
      <div><b>Invite from {{ from }}</b></div>
      <br>
      <div><b>First Location:</b> {{ firstLocation }}</div>
      <br>
      <div><b>Destination:</b> {{ destination }}</div>
      <br>
      <div><b>Price to pay:</b> {{ priceToPay }}</div>
    </div>
  
    <div mat-dialog-actions style="float:right;margin:20px;">
      <button mat-button [mat-dialog-close]="{ clicked: 'Accept' }" (click)="onConfirmClick()">Accept</button>
      <button mat-button [mat-dialog-close]="{ clicked: 'Reject' }" (click)="onCancelClick()">
        Reject
      </button>
    </div>
</div>
  
