<div class="upperContainer">
  <div class="vertical-container">
    <app-location-picker *ngIf="currentPage == 1" (pageNum)="changePage($event)"></app-location-picker>
    <button mat-fab color="accent" *ngIf="currentPage == 2 || currentPage === 3" aria-label="Example icon button with a home icon" class="back-button" (click)="triggerBack()">
      <mat-icon>arrow_left</mat-icon>
    </button>
    <app-ride-type *ngIf="currentPage == 2" (pageNum)="changePage($event)"></app-ride-type>
    <app-ride-invitation *ngIf="currentPage == 3"></app-ride-invitation>
  </div>
  <div id="map1">
    <app-map [containerId]="'map1'"></app-map>
  </div>
</div>