.upperContainer{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    background-image: url("../../resources/images/home-page-bg.webp");
    background-size: cover;
    background-repeat: no-repeat;    
    background-color: red;
}

.formContainer{
    width: 35%;
    height: 70%;
    margin-top: 10%;    
    background-color: #F9F9F9;
    padding: 3%;
    overflow-y: scroll;
}

.mapContainer{
    width: 35%;
    height: 70%;
    margin-top: 10%;
    background-color: #F9F9F9;
}

h1{
    font-size: 2.5rem;
    margin-top: -1rem;
    margin-bottom: 3rem;
    font-weight: bold;
}

.example-form{
    text-align: left;
    margin-bottom: 2rem;
}

.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }

.example-list button{
    margin-left: 1rem;
}