<div class="upperContainer">
    <div class="formContainer">
        <h1>Request a ride now</h1>
       
        <button mat-button color="primary">Basic</button>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Enter pickup location</mat-label>
              <input matInput placeholder="Enter pickup location" value="Sushi">
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
                <mat-label>Enter destination</mat-label>
                <input matInput placeholder="Enter destination" value="Sushi">
              </mat-form-field>
          </form>
    </div>
   
        <span class="mapContainer"></span>
</div>