<div class="upperContainer">
    <div class="formContainer">
        <h1 class="display-1">Request a ride now</h1>
      
        <form class="example-form" [formGroup]="searchForm">
            <mat-form-field class="example-full-width" [style.width.rem]=20>
              <mat-label>Enter pickup location</mat-label>
              <input matInput placeholder="Enter pickup location"
                     formControlName="pickupLocation" [matAutocomplete]="auto1"
                     (input)="searchPickup()">
            </mat-form-field>
            
            <mat-autocomplete #auto1="matAutocomplete">
              <mat-option *ngFor="let option of pickupOptions | async" [value]="option.displayName" (click)="pinPickupLocation(option)">
                {{option.displayName}}
              </mat-option>
            </mat-autocomplete>

            <mat-divider></mat-divider>

            <mat-form-field class="example-full-width" [style.width.rem]=20>
                <mat-label>Enter destination</mat-label>
                <input matInput placeholder="Enter destination" 
                       formControlName="destination" [matAutocomplete]="auto2"
                       (input)="searchDestination()">
              </mat-form-field>

              <mat-autocomplete #auto2="matAutocomplete">
                <mat-option *ngFor="let option of destinationOptions | async" [value]="option.displayName" (click)="pinDestinationLocation(option)">
                  {{option.displayName}}
                </mat-option>
              </mat-autocomplete>
          </form>

          <button mat-raised-button style="margin-right:2rem;">Request now</button>
          <button mat-raised-button color="gray">Schedule for later</button>
    </div>
   
        <div class="mapContainer">
          <app-map></app-map>
        </div>
</div>