.upperContainer{
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
    background-image: url("../../resources/images/home-page-bg.webp");
    background-size: cover;
    
}

.formContainer{
    width: 35%;
    height: 50%;
    margin-top: 10%;
    /* justify-content: center;
    text-align: center;
    display: flex; */
    background-color: #F9F9F9;
}