<div class="container">
    <div class="chatbox">
        <div class="col-1">
            <div class="wrapper">
                <div class="col1-scroll">
                    <div *ngFor="let message of userChat;" [ngClass]=" loggedUser?.email !== message.senderEmail ? 'msg-row' : 'msg-row msg-row2'">
                        <div class="msg-text">
                            <h2>{{message.senderFirstName}} {{message.senderLastName}}</h2>
                            <p>{{message.content}}</p>
                        </div>
                        <img src="" class="msg-img">
                    </div>               
    
                    <input type="text" placeholder="Type your message here..." [(ngModel)]="messageToSend">
                    <button (click)="loggedUser?.role === 'ADMIN' ? sendPrivateMessage() : sendPublicMessage() ">Send</button>
                </div>
            </div>
        </div>

        <div *ngIf="loggedUser?.role === 'ADMIN'" class="col-2">       
            <div class="col2-scroll">
                <h3>Users</h3>     
                <ul>
                    <li *ngFor="let user of allUsersFromMessages">{{user.name}} {{user.surname}}</li>
                </ul>
            </div>
        </div>       
    </div>
</div> 