*{
    font-family: Nunito;
}

.login-form{
    height: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
    padding-top: 12%;
    padding-bottom: 15%;
    background-image: url("../../images/login-background.jpg");
}

.login-window{
    background-color: aliceblue;
    width: 500px;
    height: 400px;
    justify-content: center;
    display: flex;
    border-radius: 15px;
    opacity: 0.95;
    border: 3px solid #191970;;
}

.login-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

.login-window .login-container #float-input{
    padding: 10px;
    border: 1px solid gray;
    height: 160px;
    margin-bottom: 20px;
}

.login-window .login-container .password-field{
    padding: 10px;
    border: 1px solid gray;
    height: 160px;
    margin-bottom: 60px;
}

.login-window .login-container .username-label{
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: left;
    color: #191970;
    font-weight: 800;
    font-size: 20px;
}

.login-window .login-container .password-label{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
    color: #191970;
    font-weight: 800;
    font-size: 20px;
}

.login-window .login-container .button-container .login-button{
    margin-bottom: 120px;
    background-color: #191970;
    color: white;
    font-weight: 800;
    font-size: 20px;
    width: 70%;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.login-window .login-container .button-container .login-button:disabled{
    opacity: 0.75;
    background-color: cornflowerblue;
}



