
.navbar{
    transition: 0.35s;
    width: 100%;
    background-color: black;
    text-align: center;
    justify-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
}

.navbar a {
    padding: 100px;
    text-decoration: none;
    font-size: 18px;
    vertical-align: center;
    color: white;
}

.navbar a:hover{
    color: lightgray;
}
