<app-navbar [navbarLabels]="navbarLabels" [navbarPaths]="navbarPaths" (chosenOption)="changeOption($event)"></app-navbar>
<router-outlet name="DriverRouter">
</router-outlet>

<button mat-fab color="accent" aria-label="Example icon button with a home icon" class="chat-button" (click)="toggleChat()">
    <mat-icon>chat</mat-icon>
</button>
<button mat-fab color="accent" aria-label="Example icon button with a home icon" class="logout-button" (click)="logout()">
    <mat-icon>logout</mat-icon>
</button>

<app-livechat *ngIf="chatHidden" ></app-livechat>
<app-driver-notification></app-driver-notification>
